html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  font-size: 1rem;
  padding: .75rem;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
  display: block;
  margin-bottom: .5rem;
  text-align: left;
  padding: .5rem;
  font-weight: bold;
}

h3 {
  font-style: italic;
  display: block;
  margin: 0;
  text-align: left;
  font-size: .875rem;
  font-weight: normal;
}

p {
  display: block;
  margin: 0;
}

.cards {
  padding: .75rem;
  float: left;
  width: 25%;
  margin: 0;
  text-align: center;
  min-height: 26rem;
  vertical-align: top;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto .5rem;
}

.anderon {
  background-color: #e2e2e2;
  border-left: 1px solid #000;

}

.anderon img {
  width: 100px;
}

.dinosaur {
  background-color: #ccc;
  border-left: 1px solid #000;
}

.dinosaur img {
  width: 100px;
}

.dragon {
  background-color: #aaa;
  border-left: 1px solid #000;
}

.dragon img {
  width: 100px;
}

.light {
  background-color: #999;
  border-left: 1px solid #000;
}

.light img {
  width: 100px;
}

.image {
  text-align: center;
  display: inline-block;
}

.content {
  text-align: left;
  margin: 0 auto 1.5rem;
}

.btns {
  text-align: left;
}

.btn-small {
  padding-top: .3em;
  padding-bottom: .3em;
  font-size: .875rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: .4em .75em;
  border: 3px solid #333;
  border-radius: 8px;
  font-size: 1.125rem;
  margin: 0 0 1.5rem;
  float: left;
}

a, a:link {
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
  border: 3px solid #000;
}
